.bottom-left-button {
    -fx-position: absolute;
    -fx-start-margin: 100px;
    -fx-background-color: #2196F3;
    -fx-text-fill: #FFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: bottom-left;
}

.page {
    -fx-background-color: #DAF3FF;
}

.page2 {
    -fx-background-color: #428FD4;
}

.page3 {
    -fx-background-color: #7CBAF2;
}

.box {
    -fx-background-color: #206EB4;
}

.white {
    -fx-background-color: #FFFFFF;
}